.agency {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  gap: 2rem;
  margin-top: 3rem;
  width: 80%;
  @media screen and (max-width: 860.98px) {
    width: 100%;
  }
  &Header {
    font-weight: 600;
    font-size: 2.5rem;
    text-align: center;
    &Big {
      font-size: 3rem;
    }
    & span {
      background: linear-gradient(90deg, #7b61ff, #5a40db, #7b61ff);
      background-size: 200% 100%;
      background-clip: text;
      color: transparent;
      animation: glide 2s linear infinite alternate;
      font-weight: 600;
    }
  }
  &Text {
    text-align: center;
    font-size: 1.8rem;
  }
  &Btn button {
    font-size: var(--btn-fz);
  }
}
