.invite {
  display: flex;
  flex-direction: column;
  border-radius: 35px;
  background-color: var(--block-bg);
  box-shadow: var(--white-shadow);
  gap: 2rem;
  overflow: hidden;
  margin-top: 3rem;
  width: 100%;
  padding: 0;
  justify-content: center;
  color: var(--text-black);
  &Header {
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
  }
  &Container {
    display: flex;
    gap: 2rem;
    @media screen and (max-width: 860.98px) {
      background-repeat: no-repeat;
      background-position: right -10rem bottom;
      background-size: 70%;
      background-image: url("@/assets/images/invite/phone_transparent.svg");
    }
    &Left {
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background-repeat: no-repeat;
      background-position: left bottom;

      background-size: 140%;
      background-image: url("@/assets/images/invite/phone.svg");
      @media screen and (max-width: 860.98px) {
        display: none;
      }
    }
    &Right {
      width: 60%;
      padding: 0 2rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: flex-start;
      align-items: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      padding: 2.5rem;
      @media screen and (max-width: 860.98px) {
        width: 100%;
      }
    }
  }
  &Text {
    font-size: 1.2rem;
  }
  &Btns {
    display: flex;
    width: 100%;
    gap: 3rem;
    @media screen and (max-width: 860.98px) {
      justify-content: center;
      align-items: center;
    }
    & a {
      font-size: var(--btn-fz);
    }
    & a.transparent {
      border: 1px solid var(--primary);
      background-color: transparent;
      color: var(--primary);
      &:hover {
        animation: none;
        background: none;
      }
    }
  }
}
