@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: Involve-Regular;
  src: url(./assets/fonts/Involve-Regular.ttf);
}

:root {
  /* Colors */
  --primary: #7d52f1;
  --text-black: #333333;
  --text-black-80: #33333380;
  --primary-bg: #f4f8ff;
  --block-bg: #ffffff;
  --white-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  @media screen and (max-width: 1276px) {
    font-size: 12px;
  }
}

body {
  font-family: "Involve-Regular", "Roboto", sans-serif;
  font-optical-sizing: auto;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  outline: none;
  background-color: var(--primary-bg);
}

* {
  box-sizing: border-box;
}

.btn-scale {
  border: none;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 39px;
  background: #7a56f6;
  padding: 8px 18px;
  text-decoration: none;
  transform: translateZ(0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  will-change: transform;
  backface-visibility: hidden;
  transition: transform 0.3s ease-out;
  @media screen and (max-width: 1200px) {
    font-size: 1.4rem;
  }
}

.btn-scale:hover {
  transform: scale(1.1) translateZ(0);
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.wrapper {
  width: 90vw;
  display: flex;
  justify-content: center;
  @media screen and (max-width: 639.98px) {
    width: 95vw;
    user-select: none;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
  width: 100%;
  gap: 2rem;
  @media screen and (max-width: 639.98px) {
    gap: 0.6rem;
  }

  &__logos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    &-moex {
      display: flex;
      gap: 0px;
      justify-content: left;
      flex-direction: column;
      padding-left: 1rem;
      border-left: 1px solid rgba(0, 0, 0, 0.15);
    }
  }
  &__logo {
    &--main {
      height: 56px;
    }
    &--moex {
      height: 28px;
    }
  }
  &__sk {
    display: flex;
    align-items: center;
    @media screen and (max-width: 767.98px) {
      display: none;
    }
  }
  &__lk {
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
  }
}

.main-menu {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #fff;
  width: 100vw;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.1);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.1);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.1);
  &__items {
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    width: 90vw;
    font-size: 1.4rem;
    @media screen and (max-width: 690.98px) {
      font-size: 1.1rem;
    }
    & a {
      color: #333;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      position: relative;
      text-decoration: none;
      border-bottom: none;
      padding: 3px 0;
      display: block;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--primary);
        transform: scaleX(0);
        transform-origin: left center;
        transition: transform 0.3s ease;
      }
      &:hover::after {
        transform: scaleX(1);
      }
    }
  }
}

.slide-container {
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.1);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.1);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.1);
}

.slide-img {
  transform: translateZ(0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  image-rendering: optimizeQuality;
  will-change: transform;
  backface-visibility: hidden;
  transition: transform 0.3s ease-out;
  &:hover {
    transform: scale(1.1);
  }
}

.slide-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  height: 100%;
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
  padding-top: 3rem;
  align-items: stretch;
  @media screen and (max-width: 980.98px) {
    flex-direction: column;
    padding: 0 1rem;
  }
  &__left {
    width: 55%;
    @media screen and (max-width: 980.98px) {
      width: 100%;
    }
    &-text {
      color: var(--text-black);
      font-size: 4rem;
      font-style: normal;
      font-weight: 600;
      line-height: 4rem;
      & .bordered {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: fit-content;
        margin-left: -2rem;
        font-style: normal;
        font-weight: 600;
        border-radius: 42px;
        border: 3px solid #7b51f7;
        padding: 0.8rem 1.8rem 1rem 1.8rem;
        margin-top: 6px;
        margin-bottom: -0.3rem;
        background: linear-gradient(90deg, #7b61ff, #5a40db, #7b61ff);
        background-size: 200% 100%;
        background-clip: text;
        color: transparent;
        animation: glide 2s linear infinite alternate;
        @media screen and (max-width: 639.98px) {
          gap: 0.6rem;
          margin-left: 0rem;
        }
      }
    }
    &-undertext {
      margin-top: 3rem;
      color: var(--text-black);
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      max-width: 80%;
    }
    &-stats {
      margin-top: 6rem;
      display: flex;
      border-top: 1px solid #d9d9d9;
      gap: 1rem;
      padding: 2rem 0;
      width: calc(100% - 1rem);
      @media screen and (max-width: 980.98px) {
        margin-top: 2rem;
      }
      &-item {
        color: var(--text-black);
        display: flex;
        flex-direction: column;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        &:not(:first-child) {
          padding-left: 1rem;
          border-left: 1px solid #d9d9d9;
        }
        &-title {
          color: #333;
          opacity: 0.6;
          font-size: 1rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        &-value {
          margin-top: 1.8rem;
          font-size: 2.2rem;
          font-style: normal;
          font-weight: 600;
          line-height: 90%;
          @media screen and (max-width: 690.98px) {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
  &__right {
    width: 45%;
    max-width: 525px;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 980.98px) {
      width: 100%;
      max-width: none;
    }
  }
}

.phone {
  width: 100%;
  background-image: url("./assets/images/phone/phone.svg");
  background-repeat: no-repeat;
  padding: 30px 35px;
  background-size: cover;
  height: 100%;
  max-width: 525px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 15px;
    @media screen and (max-width: 690.98px) {
      padding: 0 0;
    }
    &-left {
      font-size: 20px;
      font-weight: 700;
    }
    &-right {
      display: flex;
      align-items: center;
      justify-content: center;
      & img {
        display: block;
        height: 18px;
      }
    }
  }
  &__tg {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 2rem;
    align-items: stretch;
    padding: 0 15px;
    &-left {
      flex-grow: 0;
    }
    &-center {
      font-style: normal;
      font-weight: 600;
      line-height: 110%;
      align-content: space-between;
      height: 100%;
      flex-grow: 1;
      align-self: stretch;
      margin-top: 0.5rem;
      &-uptext {
        margin-bottom: 0.5rem;
        color: var(--text-black);
        font-size: 1.3rem;
      }
      &-subtext {
        color: var(--text-black-80);
        font-size: 1rem;
      }
    }
    &-right {
      flex-grow: 0;
    }
  }
  &__form {
    border-radius: 30px;
    background: #7b51f7;
    box-shadow: 4px 4px 20px 3px #3333;
    padding: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & input[type="text"] {
      outline: none;
      border: none;
      border-radius: 45px;
      background: #fff3;
      padding: 22px 30px;
      box-sizing: border-box;
      color: #fff;
      font-size: 20px;
      height: 64px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      display: block;
      width: 100%;
      margin-top: 20px;
      &::placeholder {
        color: #ffffff80;
      }
    }
    & button {
      border: none;
      border-radius: 45px;
      background: #fff;
      width: 100%;
      display: block;
      padding: 20px 0;
      text-align: center;
      color: #7b51f7;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%;
      cursor: pointer;
      margin-top: 1rem;
      height: 64px;
      transform: translateZ(0);
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-rendering: optimizeLegibility;
      will-change: font-size;
      backface-visibility: hidden;
      transition: font-size 0.3s ease-out;
      &:hover {
        font-size: 22px;
        @media screen and (max-width: 690.98px) {
          font-size: 20px;
        }
      }
    }
    &-info {
      display: flex;
      justify-content: flex-start;
      margin-top: 2rem;
      align-items: center;
      gap: 1rem;
      &-text {
        color: rgba(255, 255, 255, 0.5);
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 340px;
      }
    }
  }
  &__chart {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background-color: #a379d9;
    color: #fff;
    border-radius: 12px;
    flex-direction: column;
  }
}

@keyframes glide {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.estate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  gap: 3rem;
  & h1 {
    display: block;
    color: #333;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    max-width: 840px;
    margin: 0 auto;
    text-align: center;
    & span.purple {
      color: var(--primary);
    }
  }
  & h3 {
    display: block;
    color: #333;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 611px;
    margin: 60px auto 0;
  }
  &__list {
    display: flex;
    gap: 2rem;
    @media screen and (max-width: 860.98px) {
      flex-direction: column;
      gap: 1rem;
    }
    &-item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 1.5rem;
      border-radius: 30px;
      background: var(--block-bg);
      width: calc((100% - 2rem) / 3);
      gap: 1.5rem;
      box-shadow: var(--white-shadow);
      color: var(--text-black);
      @media screen and (max-width: 860.98px) {
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        gap: 2rem;
      }

      &-img {
        & img {
          width: 5rem;
        }
      }
      &-time {
        font-weight: 600;
        font-size: 2rem;
      }
      &-descr {
        padding-top: 1.2rem;
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
  }

  &__map {
    border-radius: 35px;
    color: var(--text-black);
    background-color: var(--primary-bg);
    box-shadow: var(--white-shadow);
    background-color: var(--block-bg);
    padding: 2.5rem;
    width: 100%;
    &-title {
      font-weight: 600;
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
    &-container {
      width: 100%;
      padding: 4rem;
      font-size: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      flex-direction: column;
      background-color: #a379d9;
      border-radius: 35px;
      color: #fff;
    }
  }
}

.mission {
  border-radius: 35px;
  background-color: var(--block-bg);
  box-shadow: var(--white-shadow);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.5rem;
  overflow: hidden;
  margin-top: 3rem;
  &__top {
    display: flex;
    &-item {
      color: var(--text-black);
      font-size: 2.5rem;
      & img {
        width: 100%;
      }
    }
  }
  &__goallist {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    @media screen and (max-width: 860.98px) {
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      gap: 2rem;
    }
    &-item {
      position: relative;
      padding: 0;
      overflow: hidden;
      box-shadow: var(--white-shadow);
      border-radius: 16px;
      display: flex;
      gap: 0.5rem;
      transition: transform 0.2s linear;
      &:hover {
        transform: translateY(-5px);
      }
      &-num {
        background-color: var(--primary);
        color: #fff;
        padding: 1.5rem;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &-text {
        color: var(--text-black);
        display: flex;
        flex-direction: column;
        padding: 1rem;
        &-title {
          font-size: 2rem;
          font-weight: 600;
          margin-bottom: 0.5rem;
        }
        &-descr {
          font-size: 1.2rem;
        }
      }
    }
  }
  &__footer {
    font-size: 1.6rem;
    margin-top: 2rem;
    &-brand {
      background: linear-gradient(90deg, #7b61ff, #5a40db, #7b61ff);
      background-size: 200% 100%;
      background-clip: text;
      color: transparent;
      animation: glide 2s linear infinite alternate;
      font-weight: 600;
    }
  }
}

.awards {
  border-radius: 35px;
  background-color: var(--block-bg);
  box-shadow: var(--white-shadow);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.5rem;
  overflow: hidden;
  margin-top: 3rem;
  width: 100%;
  &__top {
    font-size: 1.6rem;
    color: var(--text-black);
    font-weight: 600;
    display: flex;
    gap: 2rem;
    & img {
      max-width: 9rem;
      align-self: flex-start;
    }
    &-text {
      font-size: inherit;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &-item {
      position: relative;
      padding: 0;
      overflow: hidden;
      box-shadow: var(--white-shadow);
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      &-header {
        background-color: var(--primary);
        color: #fff;
        padding: 1rem 1.5rem;
        font-size: 1.6rem;
        display: flex;
        & img {
          width: 1.6rem;
          transform: rotateX(180deg) translateY(-4px);
          margin-right: 0.8rem;
          align-self: flex-start;
        }
      }
      &-content {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        background-position: right -0.5rem bottom 0rem;
        background-repeat: no-repeat;
        backface-visibility: hidden;
        background-size: 7rem;
        &--cup {
          background-image: url(./assets/images/awards/cup.svg);
        }
        &--doc {
          background-image: url(./assets/images/awards/list.svg);
          background-size: 8rem;
          background-position: right -1rem bottom -1rem;
        }
        &-item {
          position: relative;
          font-size: 1.4rem;
          padding-left: 2.4rem;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            width: 1.4rem;
            height: 1.4rem;
            background-image: url("./assets/images/awards/check.svg");
            background-size: contain;
            background-repeat: no-repeat;
            transform: translateY(4px);
          }
        }
      }
    }
  }
}
